@model Lab.EF.MVC.Models.EmployeeView

@{
    ViewBag.Title = "Edit Employee Page";
}

<h2>Editar un Empleado</h2>

@using (Html.BeginForm("Edit", "Employee", FormMethod.Post))
{
    @Html.HiddenFor(i => i.Id)
    <br />
    @Html.LabelFor(n => n.Nombre)
    @Html.TextBoxFor(n => n.Nombre)
    @Html.ValidationMessageFor(n => n.Nombre, "", new { @class = "text-danger" })
    <br />
    @Html.LabelFor(n => n.Apellido)
    @Html.TextBoxFor(n => n.Apellido)
    @Html.ValidationMessageFor(n => n.Apellido, "", new { @class = "text-danger" })
    <br />
    <br />
    @Html.LabelFor(n => n.Titulo)
    @Html.TextBoxFor(n => n.Titulo)
    @Html.ValidationMessageFor(n => n.Titulo, "", new { @class = "text-danger" })
    <br />
    <input type="submit" class="btn btn-success" value="Editar" />
}